@import "tailwindcss";

/* Add this quick fix at the bottom to kill Vite's default alignments */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Restores standard reading alignment */
}